{% extends 'layout.html' %}

{% block title %}HTMLGuide - Welcome!{% endblock %}
  

    {% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>Let's get started</h2>
                <p>Web pages are simply text files. These files use a language called HTML to lay elements out on a page. HTML is written with tags which are words enclosed in angle brackets. Before you can put anything on the page you need to get the basic structure down. Here is some code for a very simple webpage:</p>
        <pre class="prettyprint linenums">&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;Camino de Santiago&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        Hello World!
    &lt;/body&gt;
&lt;/html&gt;</pre>
                <p>Follow these steps to view your first web page (see screenshots below as well):</p>
                <ol>
                    <li>Copy the code into your text editor.</li>
                    <li>Save the file as 'index.html' into a new folder. Name the folder whatever your site is named. </li>
                    <li>Open your browser chrome, firefox, safari etc and press Ctrl-o then find your file and open it.</li>
                </ol>
            </div><!-- col-12 -->
        </div><!-- row -->
        <div class="row">
            <a href="img/camino/html1_a.jpg" class="col-md-3" rel="lightbox-gallery1" title="Save the file as index.html in a new project folder"><img src="img/camino/html1_a.jpg" class="series_thumb" alt="Save the file as index.html in a new project folder"></a>
            <a href="img/camino/html1_b.jpg" class="col-md-3" rel="lightbox-gallery1" title="Press Ctrl-o in your browser and find where index.html is saved"><img src="img/camino/html1_b.jpg" class="series_thumb" alt="Press Ctrl-o in your browser and find where index.html is saved"></a>
            <a href="img/camino/html1_c.jpg" class="col-md-3" rel="lightbox-gallery1" title="Your first web page"><img src="img/camino/html1_c.jpg" class="series_thumb" alt="Your first web page"></a>
        </div>
        <div class="row">
            <p>Every webpage should have these tag, but what are they?</p>
            <ul>
                <li> <code>&lt;!DOCTYPE html&gt;</code> - This goes at the top of every web page document and tells the web browser which version of HTML the page is coded in.</li>
                <li> <code>&lt;head&gt;</code> - Information about the page. You'll put some more stuff in here soon, but for now you should just have a title tag (see below).</li>
                <li> <code>&lt;body&gt;</code> - This is the stuff you actually see on the page. You'll focus on this in the next section.</li>
                <li> <code>&lt;title&gt;</code> - The title of the page, the browser will show this on the tab above the webpage when open.</li>
            </ul>
            <p>You may have noticed that the tags are all in pairs - that's how you show the start and end of an element. For example with <code>&lt;h1&gt;Camino de Santiago&lt;/h1&gt;</code> </p> the <code>&lt;/h1&gt;</code> shows the end of the heading.</p>
        </div>
        



        <div class="row">
            <h2 id="#text">Putting text on your webpage</h2>
            <p>There is two main kinds of text in HTML - headings and paragraphs. Heading tags use h followed by a number (from 1 to 6) so &lt;h1&gt; or &lt;h6&gt;. Parapgraphs use &lt;p&gt; tags. Read the code snippet below and update your <code>index.html</code> using some heading and paragraph tags.</p>
        
            
            <pre class="prettyprint linenums">&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;Camino de Santiago&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;h1&gt;Camino de Santiago&lt;/h1&gt;
        &lt;p&gt;The Camino is an ancient pilgrimage which either goes to Santiago de Compostela or through that city to Finisterre on the west coast of Spain. There are many  routes that one can follow on their &lt;em&gt;Camino&lt;/em&gt; although the main routes follow Roman roads and trade routes. Traditionally a camino starts at the pilgrim's home but mdern day pilgrims head to significant places such as Saint-Jean-Pied-de-Port in France or Roncesvalles in  Northern Spain.&lt;/p&gt;
        &lt;p&gt;Upon reaching Santiago de Compostela a pilgrim is eligible for a &lt;em&gt;compostela&lt;/em&gt; if they have walked at least 100km cumulatively during their pilgrimage although it is not unusual to have walked more than 700km over 30 or 40 days. The most common route, the 'Camino Frances' or 'French Way' is approximately 769km alhough this can vary if the pilgrim takes detours or shortcuts.&lt;/p&gt;
        &lt;h2&gt;The Credencial&lt;/h2&gt;
        &lt;p&gt;The 'credencial' or 'passport' is how a pilgrim proves how far they have walked each day. The credencial is stamped at each 'albergue' (special camino hostel) and/or at a cafe along the route. Generally a pilgrim aims to get at least 2 stamps per day and some albergues require evidence that the pilgrim has walked at least 30km that day in order to get a bed.&lt;/p&gt;
    &lt;/body&gt;
&lt;/html&gt;</pre>
        </div>
        


        <div class="row">
            <a href="img/camino/html1_d.jpg" class="col-md-3" rel="lightbox-gallery2" title="Refresh the page in your browser and compare the page to the tags you've used"><img src="img/camino/html1_d.jpg" class="series_thumb" alt="Refresh the page in your browser and compare the page to the tags you've used"></a>
        </div>
        <div class="row">
            <p>Let's look at the new tags used here:</p>
            <ul>
                <li> <code>&lt;h1&gt;</code> and <code>&lt;h2&gt;</code> - These give you headings. The smaller the number, the smaller the heading. You should try to use these headings correctly ( <code>h1</code> for the main headings, <code>h2</code> forsubheadings, etc) as they have other meaning.</li>
                <li> <code>&lt;p&gt;</code> - Paragraphs. The important thing is to use paragraph tags for each and every paragraph</li>
                <li> <code>&lt;em&gt;</code> - Emphasised text, this really means italics. There are other ways to do this but if you want to make a word stand out easily, use em. Try replacing a pair of <code>&lt;em&gt;</code> tags with some <code>&lt;strong&gt;</code> tags.</li>
            </ul>
            <p>Before you move onto the next section try these changes and see how they change the page:</p>
            <ul>
                <li>Use some <code>&lt;h4&gt;</code> or <code>&lt;h6&gt;</code> tags</li>
                <li>Remove a closing <code>&lt;/h1&gt;</code> tag</li>
                <li>Whitespace in HTML (spaces, tabs, blank lines) probably doesn't work as you would expect. Create a paragraph like the following code and see how it appears in your browser.</li>
            </ul>
            <pre class="prettyprint linenums">&lt;p&gt;The 'credencial'             or            'passport' is how a pilgrim proves how far they have walked each day. The credencial is stamped at each 'albergue' 
            (special camino hostel) and/or&lt;/p&gt;&lt;p&gt; at a cafe along the route. Generally a pilgrim aims to get at least 2 stamps per day and some albergues require evidence that the pilgrim has walked at least 30km 
            
            
            that day in order to get a bed.&lt;/p&gt;</pre>
        </div>



        <div class="row">
            <h2 id="#lists">Make a list</h2>
            <p>Another useful thing you can do with HTML is make lists. HTML has two basic types of lists: ordered lists and unordered lists. The entire list is enclosed in <code>&lt;ol&gt;</code> or <code>&lt;ul&gt;</code> tags and each element in the list is encolsed in <code>&lt;li&gt;</code> tags, which stands for list item. Copy the two lists below into your code then open them in your browser to see how they work.</p>
        </div>
        <div class="row">
            <pre class="col-md-6 prettyprint linenums">
&lt;h3&gt;There are many ways to get to Santiago:&lt;/h3&gt;
&lt;ol&gt;
    &lt;li&gt;The French Way or Camino Frances&lt;/li&gt;
    &lt;li&gt;The Aragonese Way or Camino Aragones&lt;/li&gt;
    &lt;li&gt;The Northern Way or Camino del Norte&lt;/li&gt;
    &lt;li&gt;The Portuguese Way or Camino Portugues&lt;/li&gt;
&lt;/ol&gt;
            </pre>
            <pre class="col-md-6 prettyprint linenums">
&lt;h3&gt;There are many ways to get to Santiago:&lt;/h3&gt;
&lt;ul&gt;
    &lt;li&gt;The French Way or Camino Frances&lt;/li&gt;
    &lt;li&gt;The Aragonese Way or Camino Aragones&lt;/li&gt;
    &lt;li&gt;The Northern Way or Camino del Norte&lt;/li&gt;
    &lt;li&gt;The Portuguese Way or Camino Portugues&lt;/li&gt;
&lt;/ul&gt;
            </pre>
        </div>



        <div class="row">
            <p>Which should appear in your browser as one of the following. You simply add list items with more <code>&lt;li&gt;&lt;/li&gt;</code> pairs, no need to worry about numbering items in the ordered list as that happens when the HTML is processed or <em>rendered</em> by the browser. Once you've previewed the lists in your browser, try removing an item from or adding a new item to the list.</p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="img/camino/html1_e.jpg">
            </div>
            <div class="col-md-6">
                <img src="img/camino/html1_f.jpg">
            </div>
        </div>


        <div class="row">
            <h2 id="#links">Linking to other pages</h2>
            <p>You can link or <em>hyperlink</em> almost any visible element on a web page. The tag for a link is <code>&lt;a&gt;</code> but this tag is different as it also requires a special attribute, <code>&lt;href&gt;</code> which tells the browser where to go when the link is clicked.</p>
            <pre class="prettyprint linenums">&lt;a href="http://google.com"&gt;Google&lt;/a&gt;</pre>
            <p>The <code>href</code> is a URL for another webpage, and you should include the <code>http://</code> in the URL.</p>
Here are some examples of how to put links into your page. Try them out one at a time before moving on to the next section. The text in between the opening and closing tags is the text that will become linked on the web page. The link above would appear like this (try it):</p>
            <p><a href="http://google.com">Google</a></p>
            <p>Here are some link examples for you to try:</p>
            <pre class="prettyprint linenums">
&lt;!-- a linked word --&gt;
&lt;a href="http://www.santiago-compostela.net/"&gt;Camino de Santiago&lt;/a&gt;     


&lt;!-- a few words in the middle of a sentence --&gt;
&lt;p&gt;In 2009 the crew making &lt;a href="http://caminodocumentary.org/"&gt;Six Ways to Santiago&lt;/a&gt; followed pilgrims on the Camino and documented their experiences.&lt;/p&gt;


&lt;!-- a list item or part of a list item --&gt;
&lt;h3&gt;There are many ways to get to Santiago:&lt;/h3&gt;
&lt;ul&gt;
    &lt;li&gt;&lt;a href="https://en.wikipedia.org/wiki/French_Way"&gt;The French Way or Camino Frances&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;The Northern Way or &lt;a href="http://caminoways.com/ways/northern-way-camino-del-norte"&gt;Camino del Norte&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
            </pre>
        </div>



        <div class="row">
            <h2 id="#images">Images</h2>
            <p>Before we start to make this page look a bit prettier, let's put some images on the page. The tag for inserting an image looks like this:</p>
            <pre class="prettyprint linenums">&lt;img src="pyrenees.jpg"&gt;</pre>
        </div>
        <div class="row">
            <h2>Final code for this section</h2>
            <pre class="prettyprint linenums">&lt;!DOCTYPE html&gt;
&lt;html&gt;
    &lt;head&gt;
        &lt;title&gt;Camino de Santiago&lt;/title&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;h1&gt;Camino de Santiago&lt;/h1&gt;
        &lt;p&gt;The Camino is an ancient pilgrimage which either goes to Santiago de Compostela or through that city to Finisterre on the west coast of Spain. There are many  routes that one can follow on their &lt;em&gt;Camino&lt;/em&gt; although the main routes follow Roman roads and trade routes. Traditionally a camino starts at the pilgrim's home but mdern day pilgrims head to significant places such as Saint-Jean-Pied-de-Port in France or Roncesvalles in  Northern Spain.&lt;/p&gt;
        &lt;p&gt;Upon reaching Santiago de Compostela a pilgrim is eligible for a &lt;em&gt;compostela&lt;/em&gt; if they have walked at least 100km cumulatively during their pilgrimage although it is not unusual to have walked more than 700km over 30 or 40 days. The most common route, the 'Camino Frances' or 'French Way' is approximately 769km alhough this can vary if the pilgrim takes detours or shortcuts.&lt;/p&gt;
 
 
        &lt;h2&gt;The Credencial&lt;/h2&gt;
        &lt;p&gt;The 'credencial' or 'passport' is how a pilgrim proves how far they have walked each day. The credencial is stamped at each 'albergue' (speical camino hostel) and/or at a cafe along the route. Generally a pilgrim aims to get at least 2 stamps per day and some albergues require evidence that the pilgrim has walked at least 30km that day in order to get a bed.&lt;/p&gt;


        &lt;h3&gt;There are many ways to get to Santiago:&lt;/h3&gt;
        &lt;ul&gt;
            &lt;li&gt;The French Way or Camino Frances&lt;/li&gt;
            &lt;li&gt;The Aragonese Way or Camino Aragones&lt;/li&gt;
            &lt;li&gt;The Northern Way or Camino del Norte&lt;/li&gt;
            &lt;li&gt;The Portuguese Way or Camino Portugues&lt;/li&gt;
        &lt;/ul&gt;
        &lt;img src="pyrenees.jpg" width="400px"&gt;
    &lt;/body&gt;
&lt;/html&gt;</pre>
            <pre class="prettyprint linenums">&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;title&gt;Camino de Santiago&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;h1&gt;Camino de Santiago&lt;/h1&gt;
&lt;p&gt;The Camino is an ancient pilgrimage which either goes to Santiago de Compostela or through that city to Finisterre on the west coast of Spain. There are many  routes that one can follow on their &lt;em&gt;Camino&lt;/em&gt; although the main routes follow Roman roads and trade routes. Traditionally a camino starts at the pilgrim's home but mdern day pilgrims head to significant places such as Saint-Jean-Pied-de-Port in France or Roncesvalles in  Northern Spain.&lt;/p&gt;
&lt;p&gt;Upon reaching Santiago de Compostela a pilgrim is eligible for a &lt;em&gt;compostela&lt;/em&gt; if they have walked at least 100km cumulatively during their pilgrimage although it is not unusual to have walked more than 700km over 30 or 40 days. The most common route, the 'Camino Frances' or 'French Way' is approximately 769km alhough this can vary if the pilgrim takes detours or shortcuts.&lt;/p&gt;
&lt;h2&gt;The Credencial&lt;/h2&gt;
&lt;p&gt;The 'credencial' or 'passport' is how a pilgrim proves how far they have walked each day. The credencial is stamped at each 'albergue' (speical camino hostel) and/or at a cafe along the route. Generally a pilgrim aims to get at least 2 stamps per day and some albergues require evidence that the pilgrim has walked at least 30km that day in order to get a bed.&lt;/p&gt;
&lt;h3&gt;There are many ways to get to Santiago:&lt;/h3&gt;
&lt;ul&gt;
&lt;li&gt;The French Way or Camino Frances&lt;/li&gt;
&lt;li&gt;The Aragonese Way or Camino Aragones&lt;/li&gt;
&lt;li&gt;The Northern Way or Camino del Norte&lt;/li&gt;
&lt;li&gt;The Portuguese Way or Camino Portugues&lt;/li&gt;
&lt;/ul&gt;
&lt;img src="pyrenees.jpg" width="400px"&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
        </div>
    </div><!-- container -->


    {% endblock content %}