{% extends 'layout.html' %}

{% block title %}HTMLGuide - Welcome!{% endblock %}
  

    {% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                
                <h1>Introduction</h1>
                <p>This guide aims to help you build a three page website using valid HTML and CSS in order to prepare you for the Level 1 and Level 2 Achievement Standards 91073 and 91370. It doesn't mater which software you use to write your code in but <a href="https://notepad-plus-plus.org/">Notepad++</a> and <a href="http://brackets.io/">Brackets</a> are good options, and both free. If you have a mac, look at <a hre="http://www.barebones.com/products/textwrangler/">TextWrangler</a>.</p>
                <p>I've chosen to make a site about the Camino de Santiago - because it is something I am interested in and because I have a lot of resources I can put into it without worrying about copyright. You can make your site about any topic you want, or feel free to use pictures and text from this guide.</p>
                
                
                <h3>How to use this guide</h3>
                <p>Read the explanations and copy the code into your own files. There will be suggestions of bits to tinker with which should help your understanding of how the different parts of the code work together. You should also look to add in your own code to test your understanding.</p>
                
                
                <h2>Let's get started</h2>
                <p>Web pages are simply text files. These files use a language called HTML to lay elements out on a page. HTML is written with tags that look like words enclosed in angle brackets. Before you can put anything on the page you need to get the basic structure down. Here is some code for a very simple webpage:</p>
        <pre class="prettyprint linenums"><xmp><!DOCTYPE html>
<html>
    <head>
        <title>Camino de Santiago</title>
    </head>
    <body>
        Hello World!
    </body>
</html>
</xmp></pre>
                <p>Follow these steps to view your first web page:</p>
                <ol>
                <li>Copy the code into</li>
                <li></li>
                <li></li>
                <li></li>
                </ol>
            </div>
        </div>
    </div>


    {% endblock content %}