{% extends 'layout.html' %}

{% block title %}HTMLGuide - Welcome!{% endblock %}
  

    {% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                
                
                
                
                <h2>Let's get started</h2>
                <p>Web pages are simply text files. These files use a language called HTML to lay elements out on a page. HTML is written with tags that look like words enclosed in angle brackets. Before you can put anything on the page you need to get the basic structure down. Here is some code for a very simple webpage:</p>
        <pre class="prettyprint linenums"><xmp><!DOCTYPE html>
<html>
    <head>
        <title>Camino de Santiago</title>
    </head>
    <body>
        Hello World!
    </body>
</html>
</xmp></pre>
                <p>Follow these steps to view your first web page (see screenshots below as well):</p>
                <ol>
                <li>Copy the code into your text editor.</li>
                <li>Save the file as 'index.html' into a new folder. Name the folder whatever your site is named. </li>
                <li>Open your browser chrome, firefox, safari etc and press Ctrl-o then find your file and open it.</li>
                <li></li>
                </ol>
            </div><!-- col-12 -->
        </div><!-- row -->
        <div class="row">
            <a href="img/camino/html1_a.jpg" class="col-md-3" rel="lightbox-gallery1" title="Save the file as index.html in a new project folder"><img src="img/camino/html1_a.jpg" alt="Save the file as index.html in a new project folder"></a>
            <a href="img/camino/html1_b.jpg" class="col-md-3" rel="lightbox-gallery1" title="Press Ctrl-o in your browser and find where index.html is saved"><img src="img/camino/html1_b.jpg" alt="Press Ctrl-o in your browser and find where index.html is saved"></a>
            <a href="img/camino/html1_c.jpg" class="col-md-3" rel="lightbox-gallery1" title="Your first web page"><img src="img/camino/html1_c.jpg" alt="Your first web page"></a>
        </div>
        <div class="row">
        
        </div>
    </div><!-- container -->


    {% endblock content %}