
{% extends 'layout.html' %}

{% block title %}HTMLGuide - Welcome!{% endblock %}
  

    {% block content %}
    <div class="container">
      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div><!-- /.container -->
      <div class="container">
        <div class="row">
            <h1>Introduction</h1>
                <p>This guide aims to help you build a three page website using valid HTML and CSS in order to prepare you for the Level 1 and Level 2 Achievement Standards 91073 and 91370. It doesn't mater which software you use to write your code in but <a href="https://notepad-plus-plus.org/">Notepad++</a> and <a href="http://brackets.io/">Brackets</a> are good options, and both free. If you have a mac, look at <a hre="http://www.barebones.com/products/textwrangler/">TextWrangler</a>.</p>
                <p>I've chosen to make a site about the Camino de Santiago - because it is something I am interested in and because I have a lot of resources I can put into it without worrying about copyright. You can make your site about any topic you want, or feel free to use pictures and text from this guide.</p>
                
                
                <h3>How to use this guide</h3>
                <p>Read the explanations and copy the code into your own files. There will be suggestions of bits to tinker with which should help your understanding of how the different parts of the code work together. You should also look to add in your own code to test your understanding.</p>
          </div> 
          <div class="row">
            <div class="col-md-4 col-sm-12">
                <a href="html1.html" class="btn btn-primary btn-block">HTML Lesson 1<br>
                <ul>
                    <li>Basic page structure</li>
                    <li>Tags: h1, h2, p, a, img, ul, ol,li</li>
                </ul>
                </a>
            </div>  
            <div class="col-md-4 col-sm-12">
                <a href="html1.html" class="btn btn-primary btn-block">HTML Lesson 1</a>
            </div> 
            <div class="col-md-4 col-sm-12">
                <a href="html1.html" class="btn btn-primary btn-block">HTML Lesson 1</a>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="list-group">
                  <a href="html1.html" class="list-group-item active">HTML Lesson 1</a>
                  <a href="html1.html#structure" class="list-group-item">Basic page structure</a>
                  <a href="html1.html#tags" class="list-group-item">Tags: h1, h2, p, a, img, ul, ol,li</a>
                  <a href="html1.html" class="list-group-item">Porta ac consectetur ac</a>
                  <a href="html1.html" class="list-group-item">Vestibulum at eros</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="list-group">
                  <a href="#" class="list-group-item active">Cras justo odio</a>
                  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                  <a href="#" class="list-group-item">Morbi leo risus</a>
                  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                  <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="list-group">
                  <a href="#" class="list-group-item active">Cras justo odio</a>
                  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                  <a href="#" class="list-group-item">Morbi leo risus</a>
                  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                  <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
            </div>
        </div>
      </div>
      {% endblock content %}

   