<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="Tim Harford">
        <link rel="icon" href="../../favicon.ico">

        <title>{% block title %}HTMLGuide{% endblock %}</title>

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <!-- FlatUI CSS -->
        <link href="css/flat-ui.min.css" rel="stylesheet">
        
        <!-- Formats embedded code -->
        <script src="js/run_prettify.js"></script>
        <!-- slimbox2 - for galleries, js at end of file -->
        <link href="css/slimbox2.css" rel="stylesheet">
        <!-- Custom styles -->
        <link href="css/htmlguide.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.min.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->
        {% endblock head %}
      </head>

      <body>
        {% block body %}
        
            {%include 'nav.html' %}
        
            {% block content %}
            {% endblock content %}
          
            <!-- possibly move the footer out of the body block -->
            {% include 'footer.html' %}
          
        {% endblock body %}
        
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="js/ie10-viewport-bug-workaround.js"></script>
          <!-- slimbox2 for lightbox galleries -->
          <script type="text/javascript" src="js/slimbox2.js"></script>
    </body>
</html>
